## CODE INFORMATION

This code, with the Customer OTP Metrics from Quarter 3 2022 (or any official customer OTP metric file), can give you the customer on-time percentage for a given Amtrak service, as well as the customer on-time percentage for a given train number.

# Import Packages

In [1]:
import pandas as pd
# DELAY CODES FOUND HERE: https://www.amtrak.com/content/dam/projects/dotcom/english/public/documents/corporate/HostRailroadReports/July-2021-Amtrak-Host-Railroad-Report.pdf
# METRIC REPORTS FOUND HERE: https://railroads.dot.gov/rail-network-development/passenger-rail/amtrak/intercity-passenger-rail-service-quality-and

# Import Data

In [2]:
routeData = pd.read_excel("DelayMetrics/FY22_Q3_Customer_OTP_Metric.xlsx", "Route Level C OTP")

In [3]:
trainData = pd.read_excel("DelayMetrics/FY22_Q3_Customer_OTP_Metric.xlsx", "Train Level C OTP")

## Get Customer OTP for given Route Service or Train Number

In [4]:
service = "California Zephyr"
routeData[routeData['Service'] == service][['Service', 'Sub Service', 'C OTP']]

              Service        Sub Service     C OTP
40  California Zephyr  California Zephyr  0.155952

## Get Customer OTP for given Train Number

In [5]:
number = 5
trainData[trainData['Train Number'] == number][['Train Number', 'Sub Service', 'C OTP']]

    Train Number        Sub Service     C OTP
45             5  California Zephyr  0.191047